.signOff-permit-wrapper{
    padding: 16px 24px;
}
.signoff-permit-declaration{
    margin-top: 0;
    margin-bottom: .5em;
    color: #a0a4a8;
    font-weight: 500;
    font-family: "Sarabun", sans-serif;
    font-style: normal;
}
.signoff-permit-declaration-content{
    color: #52575c;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    font-family: "Sarabun", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.signoff-permit-form-remarks,.signoff-permit-form-signature,.signoff-permit-footer{
    margin-top: 20px;
}