.alert {
  position: fixed;
  top: 20px;
  left: 50%;
   transform: translateX(-50%); /* Centers the alert horizontally */
  padding: .5rem .5rem;
  border-radius: 0.5rem;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center align items inside the alert */
  justify-content: space-between;
  max-width: 90vw; /* Ensure it doesn't exceed viewport width */
  box-sizing: border-box; /* Ensures padding is included within the width */
  text-align: center; /* Center align text inside the alert */
}


.alert-content {
  display: flex;
  align-items: center;
}

.alert-icon {
  margin-right: 0.5rem;
}

.alert-success {
  background-color: green;
}

.alert-failure {
  background-color: red;
}

.alert-error {
  background-color: darkred;
}

.alert-loading {
  width: 20%;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  animation: loading linear;
}

@keyframes loading {
  from {
      width: 100%;
  }
  to {
      width: 0;
  }
}

/* Media query for devices with max-width of 768px */
@media (max-width: 768px) {
  .alert {
      right: 10px;
      left: 10px;
      padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
      align-items: center; /* Center align items on smaller screens */
  }

  .alert-content {
      flex-direction: column;
      align-items: center;
  }

  .alert-icon {
      margin-right: 0;
      margin-bottom: 0.5rem;
  }
}
